@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Montserrat', sans-serif;
}
.nav-active{
    &::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -8px;
        margin: 0 auto;
        width: 5px;
        height: 5px;
        border-radius: 9999px;
        background-color: black;
    }
}

.swiper-button-prev {
    background-image: url("/images/icons/arrow-left.svg");
} 
.swiper-button-next {
    background-image: url("/images/icons/arrow-right.svg");
} 

.swiper-button-next, .swiper-button-prev {
    width: 83px;
    height: 15px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.recent-news-wrapper {
    &>div{
        &::before, &::after{
            content: "";
            position: absolute;
            width: 0.5px;
            height: calc(100% + 300px);
            background-color: rgba(0, 0, 0, 0.25);
            right: -30px;
            opacity: 0;
        }
        &:nth-child(1)::before{
            top: 0;
            opacity: 1;
        }
        &:nth-child(1)::after{
            top: -150px;
            left: -70px;
            right: auto;
            opacity: 1;
        }
        &:nth-child(2)::before{
            bottom: 0;
            opacity: 1;
        }
        &:nth-child(3)::before{
            top: -150px;
            opacity: 1;
            right: -70px;
        }
    }
    
}